.mint-header{
    background-color: #fff;
    height: 0.96rem;
    line-height: 0.96rem;
    width: 7.5rem;
    border-bottom: 1px solid #e6e6e6;
    color: #2d2f3e;
    
}
.mint-header-title{
    font-size: 0.36rem
}
.mint-tabbar{
	position: fixed;
    bottom: 0;
    border-top:1px solid #e6e6e6; 
    z-index: 999;
    
}	
// bottom_tab
#bottom_tab {
    .mint-tab-item-label{
        color: #8f94a7;
    }
    .mint-tab-item{
        border-bottom: 1px solid #2c2e3d;
    }
    .mint-tab-item-icon{
        width: 0.8rem;
        height: 0.8rem;
        background: #8f94a7;
        border-radius: 50%;

    }
    .mint-tabbar {
        width: inherit;
        background-color: #181722;
        position: relative;
        flex-direction: column;

    }
    .mint-tabbar > .mint-tab-item.is-selected {
        background-color: #181722;
        .mint-tab-item-label{
            color: #8f94a7;
        }
    }

} 
.mint-swipe-indicator{
    opacity: 0.5;
    background-color: #fff
}
.mint-swipe-indicator.is-active {
    opacity: 1;
}
.mint-button{
    height: auto;
}
.header_icon{
    display: inline-block;
    width: 0.96rem;
    height: 0.96rem;
  }
  .tab_icon{
    background: url('../images/home/tab_icon.png') center no-repeat;
    background-size: 0.4rem 0.4rem;
  }
  .search_icon{
    background: url('../images/home/search_icon.png') center no-repeat;
    background-size: 0.4rem 0.4rem;
  }
  .help_icon{
     background: url('../images/home/wenhao.png') center no-repeat;
     background-size: 0.4rem 0.4rem;
  }
  .customer_icon{
    background: url('../images/home/customer_icon.png') center no-repeat;
    background-size: 0.4rem 0.4rem;
 }





.mint-navbar{
    background-color: #b3daff; 
}
#help_info .mint-tab-item .mint-tab-item-label {
    font-size: .28rem
}
// .mint-msgbox-btn{
//     background-color: #1482f0;
// }
.mint-msgbox-confirm{
    color: #169781;   
    font-size: 0.28rem;
}
// .mint-msgbox-message{
//     color: black;
// }
// .mint-msgbox-header{
//     padding: 0.2rem 0rem;
//     background-color: #1482f0;
// }
// .mint-msgbox-title{
//      color: white;
//      font-weight: normal;
// }
.mint-msgbox-input{
    input{
        border:0;
        border-bottom: 1px solid #000;
        font-size: 0.28rem;
        line-height: 0.6rem;
        border-radius: 0;
    }
}

#home,#tools,#recommend{
    .mint-actionsheet-listitem:nth-child(1){
        border: 0
    }
} 
.calendar_wrap{
    .wh_content_all{
        background: #b3daff;
        li{
            color: #222
        }
    }
    .wh_content_item .wh_isToday{
        background: red;
    }
    .wh_content_li{
        color: #222;
    }
    .wh_content {
        .wh_content_item, .wh_content_item_tag{
            background-color: #b3daff;
            color: #333
        }
    }
} 

.mt-range-thumb{
    opacity: 0;
}
.mt-range-progress{
    background-color: #E44F34;
    border-radius: 0.2rem 0 0 0.2rem;
}
.mt-range-runway{
    border-top-color: #16b887;
    border-radius: 0.2rem;
}
.mt-range-content{
    width: 6.3rem;
}
