.mint-header{
    background-color: #333340;
    height: 0.96rem;
    line-height: 0.96rem;
    width: 7.5rem;
}
.mint-header.is-fixed {
    z-index: 999;
}
.mint-header-title{
    font-size: 0.36rem
}
.mint-tabbar{
	position: fixed;
    bottom: 0;
    border-top:1px solid #e6e6e6; 
    z-index: 999;
}	
#bottom_tab .mint-tab-item-label{
	color: #c2c2cc;
}

#bottom_tab .mint-tabbar {
    width: 7.5rem;
}
#bottom_tab .mint-tabbar > .mint-tab-item.is-selected .mint-tab-item-label {
    background-color: #eaeaea;
    color: #333340;
}
#help_docs .mint-tab-item .mint-tab-item-label {
    font-size: .28rem
}
#discover .mint-tab-item-label ,#my_match .mint-tab-item-label {
    font-size: .28rem
}

.mint-msgbox-btn{
    background-color: #e64552;
}
.mint-msgbox-confirm{
    color: white;   
    font-size: 0.28rem;
}
.mint-msgbox-message{
    color: black;
}
.mint-msgbox-header{
    padding: 0.2rem 0rem;
    background-color: #333340;
}
.mint-msgbox-title{
     color: white;
     font-weight: normal;
}
#customer_services .mint-actionsheet-listitem:nth-child(1){
    border: 0
}
#discover {
      .mint-swipe-indicators{
        bottom: 0;
    }
      .mint-swipe-indicator{
          opacity: 0.5;
          background-color: #fff;
          
      }
      .is-active {
          opacity: 1;
      }
}
